{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <meta charset="utf-8">
        <title>Main Page</title>
    </head>
    <style media="screen">
        body{
            background-image: url("{% static 'mainPage/images/background_home.jpg' %}");
            background-size: cover;
        }
    </style>
    <body>
        <div class="container" style="position:absolute;">
            <div class="btn btn-success mx-auto" style="position:relative;left:40%;top:10px;margin:10px;">
                <span>Movie Recommendation</span>
            </div>
            <div class="col-lg-4 mx-auto" style="background-color:white; height:100%;">
                <h3>hello</h3>
            </div>
        </div>
    </body>
</html>
